.memoji {
  min-width: 64px;
  max-width: 64px;
  min-height: 64px;
  max-height: 64px;
  overflow: hidden;
  border-radius: 999px;
  background-color: #F8F8F8;

  @media (prefers-color-scheme: dark) {
    background-color: #2D2D2D;
  }

  .image {
    object-position: -8px 0;
  }
}