.memoji {
  min-width: 128px;
  max-width: 150px;
  min-height: 128px;
  max-height: 150px;
  overflow: auto;
  border-radius: 99%;
  // background-color: #f8f8f8;

  // @media (prefers-color-scheme: dark) {
  //   background-color: #2d2d2d;
  // }

  .image {
    object-position: top;
  }
}
