.memoji {
  min-width: 64px;
  max-width: 128px;
  min-height: 64px;
  max-height: 128px;
  overflow: hidden;
  border-radius: 999px;
  background-color: #f8f8f8;

  @media (prefers-color-scheme: dark) {
    background-color: #2d2d2d;
  }

  .image {
    object-position: -8px 0;
  }
}
